package config

import (
	"fmt"
	"net/http"
)

func ReqChrome(url string) *http.Request {
	method := "GET"
	req, err := http.NewRequest(method, url, nil)

	if err != nil {
		fmt.Println(err)
	}
  req.Header.Add("Cookie", "_vwo_uuid_v2=DFEA43E1FD83737D3F76804BD4E2A902F|362b6b658081c3723ada1505a8241e1f; push_doumail_num=0; push_noty_num=0; ck=xQwA; dbcl2=\"63031990:qx2IKmNEwRQ\"; __yadk_uid=ZwcU1tdDbGJt88XjXw0s5YMa02k2HX0n; bid=TFfxM4eSvbk; ll=\"118286\"")
  req.Header.Add("Accept", "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8")
  req.Header.Add("Accept-Encoding", "gzip, deflate, br")
  req.Header.Add("Host", "movie.douban.com")
  req.Header.Add("User-Agent", "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.2 Safari/605.1.15")
  req.Header.Add("Accept-Language", "en-us")
  req.Header.Add("Referer", "https://accounts.douban.com/passport/login?redir=https%3A%2F%2Fmovie.douban.com%2Fsubject%2F34725334%2F")
  req.Header.Add("Connection", "keep-alive")

  return req
}
